# Secrets
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
venv/
env/

# dbt
dbt_football/target/
dbt_football/dbt_packages/
dbt_football/logs/
dbt_football/.user.yml

# Airflow
logs/
airflow.db
airflow.cfg
standalone_admin_password.txt

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Docker
*.log
